.DS_Store

# ignore everything inside the data folder
data/*

# But don't ignore the data folder itself, or md file to give info
!data/data.md

# ignore everything inside the scripts folder except for .py and .txt files
scripts/*
!scripts/*.py
!scripts/*.txt

# ignore pycache folder
src/__pycache__/

# ignore model save files (too big to github)
models/*
!models/models.md

# ingore cloud files
*.icloud